/* ==========================
   Event Page 
   ========================== */

/* カードリスト */
.event-cards {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  padding: 0 16px;
}

.event-card {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  max-width: 1000px;
  padding: 1rem 5%;
  margin: 2rem 5%;

}

.card__body {
  display: flex;
  gap: 20px;
  align-items: center;
}

.card__img {
  width: 40%;
}

.card__img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  /* border-radius: 8px; */
}



.event-txt {
  width: 70%;
}

.card__title {
  margin-bottom: 4%;
}

.date {
  margin-bottom: 1%;
}

.theme {
  margin-bottom: 2%;
}

.desc {
  margin-bottom: 3%;
}



/* ボタン */
.event-cards .card__actions .btn {
  display: inline-block;
  padding: 7px 14px;
  border-radius: 999px;
  background: #5a3f2d;
  color: #fff;
}

.event-cards .card__actions .btn:hover {
  opacity: .95;
  transform: translateY(1px);
}

/* Coming soon */
.event-cards .coming__lead {
  font-style: italic;
  color: #6c5d52;
}


/* ページネーションの汎用スタイル */
.navigation {
  width: 100%;
}

.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.nav-links li>* {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  height: 45px;
}

.nav-links li>*:not(.dots) {
  width: 45px;
  border-radius: 50%;
  color: #000000;
  background: #efefef;
  transition: color 0.3s ease, background 0.3s ease;
}

.nav-links li>.current,
.nav-links li>a:hover {
  color: #ffffff;
  background: var(--color-main);
}


/* レスポンシブ */
@media (min-width: 901px) {}


@media (max-width: 768px) {

  .card__body {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .card__img {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    display: block;
  }

  .card__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  .event-txt {
    width: 100%;
    margin-top: 1rem;
  }

  .card-title {
    width: 100%;
    text-align: left;
  }

  .event-cards .card {
    flex-direction: column;
    gap: 12px;
    padding: 14px;
  }

  .desc {
    margin-bottom: 4%;
  }

  .btn {
    font-size: 12px;
  }

  .event-cards .card__actions {
    text-align: center;
    width: 100%;
  }

  .event-cards .card__actions .btn {
    margin: 0 auto;
    display: inline-block;
    font-size: 12px;
  }

}