@charset "UTF-8";

/* カラー配色共通化 */
:root {
  --color-main: #4a2b00;
  --tab-bg: #4a2b00;
  /* タブ背景色 */
  --tab-text: #fffbf7;
  /* タブ文字色 */
  --panel-bg: #4a2b00;
  /* パネル背景色（＝タブと同系） */
  --panel-text: #fffbf7;
  --panel-accent: #85602d;
  /* チェックボックス色など */
  --panel-link: #fffbf7;
}

html,
body {
  height: 100%;
  margin: 0;
}
body {
  color: var(--color-main);
  font-size: 0.875rem;
  min-height: 100vh;
}
a {
  color: var(--color-main);
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}
img {
  width: 100%;
}
li {
  list-style: none;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 4%;
}

.inner-wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 4%;
}

/* タイトルのフォント */
